.navbar {
  background-color: #04045b;
  min-height: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 768px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
  }
}

.octicon {
  display: inline-block;
  fill: #fff;
  vertical-align: middle;
}

.npm-icon {
  fill: #ff0000;
  height: 32px;
  width: 80px;
}

@media screen and (min-width: 30em) {
  .npm-icon {
    width: 70px;
  }
}

.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  height: calc(100vh - 7rem);
  overflow-y: auto;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.toc-entry a {
  display: block;
  padding: .125rem 1.5rem;
  color: #77757a;
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
  list-style: none;
}

.section-nav ul {
  padding-left: 1rem;
  list-style: none;
}

.section-nav ul li.active {
  font-weight: bold;
}

.code {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #721c24;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 87.5%;
  padding-left: .5em;
  padding-right: .5em;
  white-space: pre;
  word-break: break-word;
}

.code-block {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #721c24;
  display: block;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 87.5%;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  padding-left: .5em;
  padding-right: .5em;
  white-space: pre;
  word-break: break-word;
}
